.pagination_container {
    margin: auto auto 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination_container button {
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: #FFF;
    cursor: pointer;

    transition: transform .3s ease-in-out;
    transition: .3s;
}

.pagination_container button:hover,
.pagination_container .actual_page:hover {
    transform: scale(1.5);
    color: darkred;
}

.pagination_container button:disabled {
    background-color: transparent;
    pointer-events: none;
}

.pagination_container .actual_page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    font-size: 15pt;
    color: #FFF;

    transition: transform .3s ease-in-out;
}